<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <article>
      <table>
        <% stus.forEach((stu) => { %>
        <tr>
          <td><%= stu.id %></td>
          <td><%= stu.name %></td>
          <td><%= stu.name_kana %></td>
          <td><%= stu.year %></td>
          <td><%= stu.height %></td>
          <td><%= stu.team %></td>
          <td><%= stu.role %></td>
          <td><%= stu.leader %></td>
          <td><%= stu.nickname %></td>
        </tr>
        <% }); %>
      </table>
    </article>
  </body>
</html>
