<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1 class="display-4"><%= title %></h1>
    </header>
    <main>
      <table class="table">
        <thead class="thead-light">
          <% const tableHead = ["id", "名前", "名前（かな）", "学年", "身長(cm)", "チーム", "担当", "リーダー", "ニックネーム"]; %>
          <% tableHead.forEach((item) => { %>
            <th><%= item %></th>
          <% }); %>
        </thead>
        <% content.forEach((stu) => { %>
          <tr>
            <td><%= stu.id %></td>
            <td><%= stu.name %></td>
            <td><%= stu.name_kana %></td>
            <td><%= stu.year %></td>
            <td><%= stu.height %></td>
            <td><%= stu.team %></td>
            <td><%= stu.role %></td>
            <td><%= stu.leader ? "○" : "" %></td>
            <td><%= stu.nickname %></td>
          </tr>
        <% }); %>
      </table>
    </main>
  </body>
</html>
